
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% comment %} css  {% endcomment %}

<style>
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  </style>

  {% comment %} script {% endcomment %}
<script>
    $(document).ready(function() {
        var value ;
        $('.dynamic-link').on('click', function(e) {
            e.preventDefault();
            value = $(this).data('value');
            //disable input field
            $('#input-algo').prop('disabled', true);
            //set the value of first input field 
            $('#input-algo').val(value); 
            // Set submit button value based on link clicked
            //$('#submit-button').val(value); 
            $('#dynamic-form').show();
        });

        // value must b  a's or b's 
        $('#input-value').on('input', function(){
            var timeout;
            clearTimeout(timeout); 
            var inputValue = $(this).val();
            var pattern = /^[ab]+$/;
    
            if (!pattern.test(inputValue)) {
                $('#errorLabel').show();
                timeout = setTimeout(function() {
                    $('#inputField').val(inputValue.replace(/[^ab]/g, ''));
                }, 500);
            } else {
                $('#errorLabel').hide();
            }
        });

        $('#dynamic-form-content').on('submit', function(e) {
            e.preventDefault();
            // Get input value

            //alert(value)
            // Hide the form after submission
            
            $('#dynamic-form').hide(); 
        });
    });
    $(document).ready(function() {
        // search form index page 
        $('#searchBar').on('input', function() {
            // Get the value of the search bar and convert to lowercase
            var searchText = $(this).val().toLowerCase();
            $('#algorithmList li').each(function() {
                // Get the text of each algorithm and convert to lowercase
                var algorithmName = $(this).text().toLowerCase(); 
                // If the algorithm name contains the search text, show it; otherwise, hide it
                if (algorithmName.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });

</script>
{% comment %} end of script and css  {% endcomment %}
</body>
</html>