
  <style>
    /* Style for the search bar */
    #searchBar {
      margin-bottom: 10px;
    }
  </style>


<!-- Search bar -->
<input type="text" id="searchBar" placeholder="Search algorithms">

<!-- List of algorithms -->
<ul id="algorithmList">
  <li>Bubble Sort</li>
  <li>Selection Sort</li>
  <li>Insertion Sort</li>
  <li>Quick Sort</li>
  <li>Merge Sort</li>
  <li>Heap Sort</li>
  <li>Radix Sort</li>
  <li>Counting Sort</li>
  <li>Bucket Sort</li>
  <li>Shell Sort</li>
  <li>Linear Search</li>
  <li>Binary Search</li>
  <li>Depth First Search (DFS)</li>
  <li>Breadth First Search (BFS)</li>
  <li>Dijkstra's Algorithm</li>
  <li>Bellman-Ford Algorithm</li>
  <li>Floyd-Warshall Algorithm</li>
  <li>Prim's Algorithm</li>
  <li>Kruskal's Algorithm</li>
  <li>Topological Sorting</li>
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // Attach an event listener to the search bar
    $('#searchBar').on('input', function() {
      var searchText = $(this).val().toLowerCase(); // Get the value of the search bar and convert to lowercase
      $('#algorithmList li').each(function() {
        var algorithmName = $(this).text().toLowerCase(); // Get the text of each algorithm and convert to lowercase
        // If the algorithm name contains the search text, show it; otherwise, hide it
        if (algorithmName.includes(searchText)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    });
  });
</script>

</body>
</html>
