<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popup with Input Field</title>
  <style>
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  </style>
</head>
<body>

<button id="showPopupBtn">Show Popup</button>

<div id="popup" class="popup">
  <input type="text" id="inputField">
  <button id="closePopupBtn">Close</button>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    // Show popup when button is clicked
    $('#showPopupBtn').click(function() {
      $('#popup').fadeIn();
    });

    // Close popup when close button is clicked
    $('#closePopupBtn').click(function() {
      $('#popup').fadeOut();
    });
  });
</script>

</body>
</html>
