{% extends 'base.html' %}

{% block block %} 
<input type="text" id="searchBar" placeholder="Search algorithms">

<ul id="algorithmList">
  <li>Insertion Sort</li>
  <li>Quick Sort</li>
  <li>Merge Sort</li>
  <li>Heap Sort</li>
  <li>Radix Sort</li>
  <li>Counting Sort</li>
  <li>Bucket Sort</li>
  <li>Shell Sort</li>
  <li>Linear Search</li>
  <li>Binary Search</li>
  <li>Depth First Search (DFS)</li>
  <li>Breadth First Search (BFS)</li>
  <li>Dijkstra's Algorithm</li>
  <li>Bellman-Ford Algorithm</li>
  <li>Floyd-Warshall Algorithm</li>
  <li>Prim's Algorithm</li>
  <li>Kruskal's Algorithm</li>
  <li>Topological Sorting</li>
</ul>

{% endblock block %}
