{% extends 'base.html' %}

{% block block %} 
<input type="text" id="searchBar" placeholder="Search algorithms">

<ul id="algorithmList">
  <li class="dynamic-link" data-value="1">Insertion Sort</li>
  <li class="dynamic-link" data-value="2">Quick Sort</li>
  <li class="dynamic-link" data-value="3">Merge Sort</li>
  <li class="dynamic-link" data-value="4">Heap Sort</li>
  <li class="dynamic-link" data-value="5">Radix Sort</li>
  <li class="dynamic-link" data-value="6">Counting Sort</li>
</ul>



<form>
<div id="dynamic-form" class="popup">
  <form  method='GET' id="dynamic-form-content">
      <input type="text" id="input-value" name="input-value">
      {% comment %} <button type="submit" id="submit-button" value="" > send me</button> {% endcomment %}
      <input type="submit" id="submit-button" value= "Check">
  </form>  
</div>
</form>



{% endblock block %}
