<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directed Graph of Circles</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .circle {
            width: 100px;
            height: 100px;
            background-color: lightblue;
            border-radius: 50%;
            text-align: center;
            line-height: 100px;
            margin-bottom: 50px; /* Adjust the spacing between circles */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="circle">q1</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="circle">q1</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="circle">q1</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 text-center">
                <div class="circle">q1</div>
            </div>
        </div>
    </div>
</body>
</html>
